{{ attach_library('workshop/sweetalert') }}
<div id="page">
    <section class="content">
        {{ page.content }}
    </section>
    {% if page.left %}
        {% block left %}
            <aside class="left">
                {% if sidebar_mpu %}
                    {{ sidebar_mpu }}
                {%  endif %}
                {{ page.left }}
            </aside>
        {% endblock %}
    {% endif %}
</div>
